*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-align:center;
  font-family: Arial, sans-serif;
}

body{
  background:#f4f4f4;
}

h1{
  background:black;
  color:white;
  height:5rem;
  line-height:5rem;
}

.choices{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:3rem;
  margin-top:3rem;
  flex-wrap:wrap;
}

.choice{
  height:165px;
  width:165px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:0.3s;
}

.choice:hover{
  background:#444;
  cursor:pointer;
}

.choice img{
  height:150px;
  width:150px;
  border-radius:50%;
  object-fit:cover;
}

.score-board{
  display:flex;
  justify-content:center;
  gap:4rem;
  margin-top:3rem;
  font-size:2rem;
}

#user-score,#comp-score{
  font-size:4rem;
}

.msg-container{
  margin-top:3rem;
}

#msg{
  background:#033042;
  color:white;
  font-size:1.5rem;
  padding:1rem 2rem;
  border-radius:1rem;
}
